locale: en_US.UTF-8
rules:
  colons:
    max-spaces-after: 1
    max-spaces-before: 1
  # Disabled - too strict for practical use
  key-ordering: disable
  line-length:
    max: 120
    allow-non-breakable-inline-mappings: true
yaml-files:
  - '*.yaml'
  - '*.yml'
  - .yamllint
