.config/conf.d/.gitnow
.config/fish/fish_history
.config/fish/fish_variables
.config/fish/fishd.8cae4cffc40e
.config/fish/fishd.allanon
.config/fish/secrets.fish
.config/gh
.config/tmux/plugins/tmux-logging/.git
.config/tmux/plugins/tmux-resurrect/.git
.config/tmux/plugins/tmux-sensible/.git
.config/tmux/plugins/tmux-sessionist/.git
.config/tmux/plugins/tpm/.git
.config/tmux/plugins/vim-tmux-navigator/.git
.config/yarn/global
.ipython/profile_default/db/
.ipython/profile_default/history.sqlite
.ipython/profile_default/startup/
.tmux/plugins
.tmux/resurrect
.tmux/resurrect/last
.vim/.netrwhist
.vim/backups
.vim/bundle
.vim/bundle.pathogen
.vim/bundle/*
*.swp

.config/Wondershare/**
.config/LibreELEC/**
.config/Autodesk/**
.config/FileZilla/**
.config/gcloud/**
!.config/gcloud/legacy_credentials/*/.boto
.config/gtk-2.0/**
.config/htop/**
.config/hub/**
.config/iSkysoft/**
.config/iTerm2/**
.config/jgit/**
.config/omf/**
.config/op/**
.config/pycodestyle
.config/rclone/**
.config/wireshark/**
.config/gh/**
.config/gh/hosts.yml
.config/gh/**
.config/gh/hosts.yml
