*.swp
fish/.config/fish/fish_history
fish/.config/fish/fishd.8cae4cffc40e
fish/.config/fish/fishd.allanon
powerline/.config/powerline/themes/tmux/default.json
tmux/.tmux/resurrect
vim/.vim/.netrwhist
vim/.vim/backups
vim/.vim/bundle
vim/.vim/bundle.pathogen
vim/.vim/bundle/*
